* {
    margin: 0;
}
body {
    min-height: 100vh;
    place-content: center;
    place-items: center;
    background: burlywood;
}
section {
    background: rgba(255, 255, 255, 0.281);
    border-radius: 30px;
    padding: 250px 400px;
    padding-top: 0;
}
h1 {
    padding-top: 20px;
    padding-bottom: 200px;
}
h2 {
    text-align: center;
    text-shadow: burlywood 2px 3px;
}
input {
    border-radius: 30px;
    text-shadow: rgb(206, 156, 136) 0.5px 0.5px;
}
button {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background: rgb(206, 156, 136);
    border-color: rgb(153, 114, 98);
    padding: 1px 10px;
}
button:hover {
    background: rgb(153, 114, 98);
    cursor: pointer;
}
ul {
    padding: 10px;
}
li {
    padding: 3px;
    font-size: 18px;
}